{% extends "base.html" %}
{% block content %}

<h2>Create Client</h2>

<form method="post">
    <input name="name" placeholder="Client Name" required><br><br>
    <input name="email" placeholder="Email"><br><br>
    <input name="phone" placeholder="Phone"><br><br>
    
<h3>Billing Information</h3>

    <input type="text" name="billing_name" placeholder="Billing Name"><br><br>
    <input type="email" name="billing_email" placeholder="Billing Email"><br><br>
    <input type="text" name="billing_address" placeholder="Billing Address"><br><br>
    <input type="text" name="vat_number" placeholder="VAT Number"><br><br>
    <input type="text" name="tax_number" placeholder="Tax Number"><br><br>
    <input type="text" name="payment_terms" placeholder="Payment Terms (e.g. 30 days)"><br><br>
    <button type="submit">Save Client</button><br><br>

</form>

{% endblock %}
